.text-color {
  color: black;
  font-size: 10.5px;
  font-weight: bold; }

body {
  min-width: 1300px;
  max-width: 1500px;
  width: 100%; }

header {
  min-width: 1200px;
  width: 160%;
  background-color: #fed700; }
  header .mennu {
    width: 100%;
    height: 60px;
    margin: auto;
    position: relative;
    background-color: #fed700;
    right: 5px;
    left: 1.5%; }
    @media screen and (min-width: 1400px) {
      header .mennu {
        left: 28%; } }
    @media screen and (max-width: 1300px) {
      header .mennu {
        left: 20%; } }
    @media screen and (min-width: 1301px) and (max-width: 1399px) {
      header .mennu {
        left: 25%; } }
    header .mennu .form-search {
      float: left;
      width: 15%;
      max-width: 400px;
      height: 60px;
      margin: 10px 60px 0 0;
      padding: 5px;
      background: black;
      position: relative;
      bottom: 10px;
      left: 2.8%; }
      header .mennu .form-search .d-flex {
        position: absolute;
        bottom: 13px;
        left: 155px;
        width: 90%; }
        header .mennu .form-search .d-flex input {
          width: 45%;
          border: 2px;
          background: #fff;
          height: 35px;
          text-indent: 10px;
          font-size: 12px;
          border-radius: 4px 0px 0px 4px;
          -webkit-border-radius: 4px 0px 0px 4px;
          padding: 5px;
          position: relative;
          left: 11px; }
        header .mennu .form-search .d-flex button {
          width: 30px;
          height: 35px;
          border: 0;
          background: white;
          border-radius: 0px 4px 4px 0px;
          -webkit-border-radius: 0px 4px 4px 0px;
          font-size: 20px;
          color: grey; }
      header .mennu .form-search a {
        margin-left: 5px; }
        header .mennu .form-search a .icon-logo {
          position: relative;
          top: 9px;
          width: 100%;
          max-width: 150px;
          height: 30px; }
    header .mennu .form-mennu {
      float: left;
      max-width: 1070px;
      width: 70%; }
      header .mennu .form-mennu ul {
        width: 100%;
        padding: 0px;
        margin: 0px;
        list-style: none;
        display: inline;
        overflow: hidden; }
        header .mennu .form-mennu ul li {
          width: 80px;
          height: 60px;
          float: left;
          padding: 5px 5px; }
          @media screen and (min-width: 1700px) {
            header .mennu .form-mennu ul li {
              width: 95px; } }
          header .mennu .form-mennu ul li a {
            width: 100%;
            color: black;
            font-size: 10px;
            font-weight: 300;
            text-transform: uppercase;
            line-height: 20px;
            text-decoration: none;
            text-align: center; }
            header .mennu .form-mennu ul li a .icon-dienthoai {
              margin-left: 30%;
              display: block;
              height: 26px; }
            header .mennu .form-mennu ul li a .icon-tablet {
              margin-left: 1%;
              display: block;
              height: 26px; }
            header .mennu .form-mennu ul li a .icon-laptop {
              margin-left: 1%;
              display: block;
              height: 26px; }
            header .mennu .form-mennu ul li a .icon-phukien {
              margin-left: 30%;
              display: block;
              height: 26px; }
            header .mennu .form-mennu ul li a .icon-dongho {
              margin-left: 35%;
              display: block;
              height: 26px; }
            header .mennu .form-mennu ul li a .icon-giare {
              margin-left: 20%;
              display: block;
              height: 26px; }
            header .mennu .form-mennu ul li a .icon-congnghe {
              margin-left: 1%;
              display: block;
              height: 26px; }
            header .mennu .form-mennu ul li a .icon-hoidap {
              margin-left: 1%;
              display: block;
              height: 26px; }
            header .mennu .form-mennu ul li a .fix {
              position: relative;
              right: -23%;
              display: block;
              height: 26px; }
            header .mennu .form-mennu ul li a p {
              margin-top: 4%; }
            header .mennu .form-mennu ul li a .text-diennuoc {
              font-size: 9px; }
          header .mennu .form-mennu ul li .icon-laptop {
            position: relative;
            left: 10px; }
          header .mennu .form-mennu ul li .icon-phukien {
            position: relative;
            left: 1px; }
          header .mennu .form-mennu ul li .icon-giare {
            position: relative;
            right: 3px; }
          header .mennu .form-mennu ul li .fix-icon1 {
            position: relative;
            left: 19px; }
        header .mennu .form-mennu ul li:hover {
          background-color: white; }
        header .mennu .form-mennu ul .Border {
          width: 140px;
          padding: 0 auto;
          padding-left: 20px; }
          @media screen and (max-width: 1700px) {
            header .mennu .form-mennu ul .Border {
              width: 20%; } }

.clr {
  width: 100%;
  height: 10px;
  background-color: rgba(221, 217, 217, 0); }

.head-main {
  min-width: 1240px;
  width: 90%;
  float: left;
  position: relative;
  left: 4.6%; }
  @media screen and (min-width: 1400px) {
    .head-main {
      position: relative;
      left: 47%; } }
  @media screen and (max-width: 1300px) {
    .head-main {
      position: relative;
      left: 34.5%; } }
  @media screen and (min-width: 1301px) and (max-width: 1399px) {
    .head-main {
      position: relative;
      left: 42%; } }
  .head-main .slider {
    position: relative;
    width: 830px;
    height: 355px;
    background-color: whitesmoke;
    left: 2.5%;
    display: inline-block; }
    @media screen and (min-width: 1400px) and (max-width: 1430px) {
      .head-main .slider {
        width: 850px; } }
    @media screen and (min-width: 1480px) {
      .head-main .slider {
        width: 910px; } }
    @media screen and (min-width: 1431px) and (max-width: 1479px) {
      .head-main .slider {
        width: 880px; } }
    .head-main .slider .w3-center {
      font-size: 10.5px;
      width: 100%; }
    .head-main .slider .demo {
      width: 19.05%; }
    .head-main .slider .mySlides {
      height: 300px;
      width: 100%; }
    .head-main .slider #edit {
      border: 0;
      border-radius: 5px;
      width: 50px;
      height: 55px;
      opacity: 0;
      background-color: black;
      margin: 8px; }
    .head-main .slider .glyphicon {
      font-size: 25px; }
  .head-main .slider :hover #edit {
    opacity: 0.4; }
  .head-main .new {
    width: 400px;
    height: 355px;
    display: inline-block;
    position: relative;
    left: 3%; }
    @media screen and (min-width: 1480px) {
      .head-main .new {
        position: relative;
        left: 5%; } }
    @media screen and (min-width: 1380px) and (max-width: 1399px) {
      .head-main .new {
        left: 3.8%; } }
    @media screen and (min-width: 1400px) and (max-width: 1479px) {
      .head-main .new {
        left: 5%; } }
    .head-main .new .alert {
      font-size: 70%;
      width: 100%;
      height: 50px;
      background-color: whitesmoke; }
      .head-main .new .alert h2 {
        display: inline;
        background: #fdd504;
        font-size: 16px;
        padding: 9px;
        font-weight: bold;
        position: relative;
        right: 3%; }
      .head-main .new .alert a {
        color: red;
        font-size: 12px;
        text-decoration: none;
        position: relative;
        left: 35%;
        bottom: 30px; }
    .head-main .new .paper {
      position: relative;
      bottom: 20px;
      background-color: whitesmoke; }
      .head-main .new .paper a {
        text-decoration: none; }
        .head-main .new .paper a .img-paper {
          float: left;
          width: 20%;
          height: 57px;
          display: inline;
          margin-left: 2%;
          margin-right: 3%; }
        .head-main .new .paper a h3 {
          font-size: 13px;
          width: 50%;
          display: inline; }
        .head-main .new .paper a h3:hover {
          color: #078ce4; }
        .head-main .new .paper a p {
          font-size: 12px;
          margin-right: 10%;
          color: darkgray; }
    .head-main .new .banner {
      position: relative;
      bottom: 20px; }
      .head-main .new .banner a img {
        height: 120px;
        width: 100%; }

.Ad {
  margin-left: 4.3%;
  margin-bottom: 10px;
  margin-top: 30px;
  min-width: 1240px;
  max-width: 1700px;
  width: 90%;
  position: relative;
  left: 2.7%; }
  @media screen and (min-width: 1400px) {
    .Ad {
      left: 45%; } }
  @media screen and (max-width: 1300px) {
    .Ad {
      left: 33%; } }
  @media screen and (min-width: 1301px) and (max-width: 1399px) {
    .Ad {
      left: 40%; } }
  .Ad a .img-ad {
    width: 100%; }

/*# sourceMappingURL=header.css.map */
