.text-color { color: black; font-size: 10.5px; font-weight: bold; }

body { min-width: 1300px; max-width: 1500px; width: 100%; }

header { min-width: 1200px; width: 160%; background-color: #fed700; }
header .mennu { width: 100%; height: 56px; margin: auto; position: relative; right: 5px; left: 1.5%; }
@media screen and (min-width: 1400px) { header .mennu { left: 15%; } }
header .mennu .form-search { float: left; width: 25%; max-width: 400px; height: 56px; margin: 10px 60px 0 0; padding: 5px; background: black; position: relative; bottom: 10px; left: 2.8%; }
header .mennu .form-search input { width: 45%; border: 2px; background: #fff; height: 35px; text-indent: 10px; font-size: 12px; border-radius: 4px 0px 0px 4px; -webkit-border-radius: 4px 0px 0px 4px; padding: 5px; position: relative; left: 11px; }
header .mennu .form-search button { width: 8%; height: 35px; border: 0; background: white; border-radius: 0px 4px 4px 0px; -webkit-border-radius: 0px 4px 4px 0px; font-size: 20px; color: grey; position: relative; left: 5px; top: 4px; }
header .mennu .form-search a { margin-left: 5px; }
header .mennu .form-search a .icon-logo { width: 100%; max-width: 150px; height: 30px; }
header .mennu .form-mennu { float: left; max-width: 1070px; width: 70%; }
header .mennu .form-mennu ul { width: 100%; padding: 0px; margin: 0px; list-style: none; display: inline; overflow: hidden; }
header .mennu .form-mennu ul li { width: 80px; height: 56px; float: left; padding: 5px 10px; position: relative; right: 10px; }
@media screen and (min-width: 1700px) { header .mennu .form-mennu ul li { width: 95px; } }
header .mennu .form-mennu ul li a { width: 100%; color: black; font-size: 60%; font-weight: 300; text-transform: uppercase; line-height: 20px; text-decoration: none; text-align: center; }
header .mennu .form-mennu ul li a .icon-dienthoai { margin-left: 30%; display: block; height: 26px; }
header .mennu .form-mennu ul li a .icon-tablet { margin-left: 1%; display: block; height: 26px; }
header .mennu .form-mennu ul li a .icon-laptop { margin-left: 1%; display: block; height: 26px; }
header .mennu .form-mennu ul li a .icon-phukien { margin-left: 20%; display: block; height: 26px; }
header .mennu .form-mennu ul li a .icon-dongho { margin-left: 20%; display: block; height: 26px; }
header .mennu .form-mennu ul li a .icon-giare { margin-left: 1%; display: block; height: 26px; }
header .mennu .form-mennu ul li a .icon-congnghe { margin-left: 1%; display: block; height: 26px; }
header .mennu .form-mennu ul li a .icon-hoidap { margin-left: 1%; display: block; height: 26px; }
header .mennu .form-mennu ul li a .fix { position: relative; right: -23%; display: block; height: 26px; }
header .mennu .form-mennu ul li a p { margin-top: 4%; }
header .mennu .form-mennu ul li a .text-diennuoc { font-size: 60%; }
header .mennu .form-mennu ul li:hover { background-color: white; }
@media screen and (min-width: 1800px) { header .mennu .form-mennu ul .Border { width: 11%; } }
@media screen and (max-width: 1879px) { header .mennu .form-mennu ul .Border { width: 12.5%; } }

.clr { width: 100%; height: 10px; background-color: rgba(221, 217, 217, 0); }

.slider { position: relative; float: left; max-width: 970px; width: 57%; height: 355px; margin-left: 4.3%; background-color: whitesmoke; left: 2.5%; }
@media screen and (min-width: 1400px) { .slider { left: 24%; } }
@media screen and (max-width: 1300px) { .slider { min-width: 60%; } }
@media screen and (min-width: 1301px) and (max-width: 1352px) { .slider { width: 58%; } }
.slider .w3-center { font-size: 10.5px; width: 100%; }
.slider .demo { width: 19.05%; }
.slider .mySlides { height: 300px; width: 100%; }
.slider #edit { border: 0; border-radius: 5px; width: 50px; height: 55px; opacity: 0; background-color: black; margin: 8px; }
.slider .glyphicon { font-size: 25px; }

.slider :hover #edit { opacity: 0.4; }

.new { float: right; background-color: whitesmoke; width: 33%; max-width: 480px; height: 355px; margin-right: 3.3%; position: relative; left: 1%; }
@media screen and (min-width: 1400px) { .new { left: 22%; } }
@media screen and (min-width: 1700px) { .new { margin-right: 70px; } }
@media screen and (max-width: 1300px) { .new { margin-right: 0px; } }
@media screen and (min-width: 1301px) and (max-width: 1699px) { .new { margin-right: 3.5%; } }
.new .alert { font-size: 70%; border-width: 1px; border-bottom-style: ridge; width: 100%; height: 50px; }
.new .alert h2 { display: inline; background: #fdd504; font-size: 16px; padding: 9px; font-weight: bold; position: relative; right: 3%; }
.new .alert a { color: red; font-size: 12px; text-decoration: none; position: relative; left: 35%; bottom: 30px; }
.new .paper a { text-decoration: none; }
.new .paper a .img-paper { float: left; width: 20%; height: 57px; display: inline; margin-left: 2%; margin-right: 3%; }
.new .paper a h3 { font-size: 13px; width: 50%; display: inline; }
.new .paper a h3:hover { color: #078ce4; }
.new .paper a p { font-size: 12px; margin-right: 10%; color: darkgray; }
.new .banner a img { height: 105px; width: 100%; }

.Ad { margin-left: 4.3%; margin-bottom: 10px; margin-top: 20px; min-width: 1240px; max-width: 1700px; width: 90%; position: relative; left: 2.7%; }
@media screen and (min-width: 1400px) { .Ad { left: 24%; } }
.Ad a .img-ad { width: 100%; }

/*# sourceMappingURL=header.css.map */
