* {
    padding: 0;
    margin: 0;
}
body{
    background: #f0f0f0;
}
.lable-posistionLeftBottom{
    position: absolute;
    left: 10px;
    font-weight: 600;
    bottom: 10px;
    color: #FFFFFF;
    font-size: 11px;
}
.lable-posistionRightBottom{
    position: absolute;
    right: 20px;
    font-weight: 600;
    bottom: 16px;
    color: #FFFFFF;
    font-size: 11px;
}
.discount{
    background-image: linear-gradient(-90deg,#ec1f1f 0%,#ff9c00 100%);
    border-radius: 10px; 
    padding-right: 10px;   
    i{
        margin-right: 5px;
        display: block;
        float: left;
        padding: 6px 0px 0px 7px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #F13500;
    }
}
.discount::after{
    content: '';
    display: block;
    clear: both;
}
.installment{
    background-color: #F28902;
    padding: 0px 5px 3px 5px;
}
.limit{
    background-color: #E91E63;
    padding: 0px 5px 3px 5px;
}
header{
    height: 55px;
    background-color: #FED700;
    font-family: 'Roboto', sans-serif;
    .main-nav{
        height: 100%;
        width: 1200px;
        margin: 0px 159.6px;
        .brand-and-search{
            height: 100%;
            display: block;
            float: left;
            background-color: black;
            .link-logo{
                display: block;
                height: 100%;
                float: left;
                padding-left: 5px;
                .logo{
                    display: inline-block;
                    margin: 14px 4.5px;
                    width: 156px;
                    height: 30px;
                    background-image: url(../images/icondesktop.png);
                    background-repeat: no-repeat;
                    background-position: 0px 0px;
                }
            }
            .search-site{
                float: left;
                height: 35px;
                margin: 10px 10px;
                background-color: #FFFFFF;
                border: 0.1px solid black;
                border-radius: 4px;
                font-size: 0.8em;
                input{
                    float: left;
                    display: block;
                    border: none;
                    margin: 10px 18px; 
                    height: 50%;
                    width: 155px;
    
                }
                input:focus{
                    outline: none;
                }
                .icon-search{
                    margin: 8px 8px;
                    float: left;
                    height: 30px;
                    width: 22px;
                    display: block;
                    background-image: url(../images/icondesktop.png);
                    background-repeat: no-repeat;
                    background-position: -159px 0px;
                }
            }
            .clear-float{
                clear: both;
            }
        }
        .category{
            padding: 5px 10px;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 11px;
            display: block;
            float: left;
            text-decoration: none;
            text-transform: uppercase;
            color: black;
            .phone{
                margin: auto;
                margin-bottom: 5px;
                display: block;
                width: 16px;
                height: 25px;
                background-image: url(../images/icondesktop.png);
                background-repeat: no-repeat;
                background-position: -190px 0px;
            }
            .tablet{
                margin: auto;
                margin-bottom: 5px;
                display: block;
                width: 37px;
                height: 25px;
                background-image: url(../images/icondesktop.png);
                background-repeat: no-repeat;
                background-position: -207px 0px;
            }
            .laptop{
                margin: auto;
                margin-bottom: 5px;
                display: block;
                width: 42px;
                height: 25px;
                background-image: url(../images/icondesktop.png);
                background-repeat: no-repeat;
                background-position: -242px 0px;
            }
            .accessories{
                margin: auto;
                margin-bottom: 5px;
                display: block;
                width: 26px;
                height: 25px;
                background-image: url(../images/icondesktop.png);
                background-repeat: no-repeat;
                background-position: -286px 0px;
            }
            .watch{
                margin: auto;
                margin-bottom: 2px;
                display: block;
                width: 23px;
                height: 28px;
                background-image: url(../images/icondesktop.png);
                background-repeat: no-repeat;
                background-position: -359px -50px;
            }
            .old-cheapPrice{
                margin: auto;
                margin-bottom: 5px;
                display: block;
                width: 39px;
                height: 25px;
                background-image: url(../images/icondesktop.png);
                background-repeat: no-repeat;
                background-position: -314px 0px;
            }
            .technology{
                margin: auto;
                margin-bottom: 5px;
                display: block;
                width: 30px;
                height: 25px;
                background-image: url(../images/icondesktop.png);
                background-repeat: no-repeat;
                background-position: -376px 0px;
            }
            .Q-A{
                margin: auto;
                margin-bottom: 5px;
                display: block;
                width: 28px;
                height: 25px;
                background-image: url(../images/icondesktop.png);
                background-repeat: no-repeat;
                background-position: -408px 0px;
            }
        }
        .category:hover{
            background-color: white;
        }
        .other-services{
            text-transform: none;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 13px;
            padding-top: 12px;
            padding-bottom: 12px;
            display: inline-block;
            text-align: center;
            height: 100%;
        }
    }
}
.section1{
    width: 1200px;
    margin: 10px 159.6px;
    .banner{
        width: 100%;
        .slides:hover .icon-changeSlides{
            display: inline-block;  
        }
        .slides{
            background-color: #FFFFFF;
            width: 790px;
            height: 358px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            float: left;
            .slide{
                width: 100%;
                height: 300px;
                .all-tittle{
                    display: block;
                    margin: 0 0;
                    bottom: -46px;
                    .tittle-slide{
                        border: 0px;
                        text-indent: 0px;
                        border-right: 1px solid rgba(0, 0, 0, 0.1);
                        width: 154.4px;
                        display: table-cell;
                        text-align: center;
                        p{
                            margin: 0px;
                            font-size: 12px;
                        }
                    }
                    .active{
                        font-weight: bold;
                    }
                    li{
                        opacity: 1;
                    }
                }
                .all-tittle li:last-child{
                    border: none;
                }
            }
            .icon-changeSlides{
                display: none;
                width: 48px;
                height: 55px;
                background-color: rgba($color: #000000, $alpha: 0.7);
                border-radius: 5px;
            }  
        }
        .homenew{
            float: left;
            width: 400px;
            height: 358px;
            margin-left: 10px;
            .tech-news{
                background-color: #FFFFFF;
                height: 37.6px;
                h2{
                    float: left;
                    position: relative;
                    font-size: 14px;
                    font-weight: bold;
                    background-color: #FED700;
                    width: 142.79px;
                    height: 100;
                    padding: 10px 20px 10px 10px;
                    margin: 0px;
                    a{
                        text-decoration: none;
                        color: #000000;
                    }   
                }
                h2::after{
                    content: '';
                    width: 0;
                    height: 0;
                    border-right: 12px solid #fff;
                    border-top: 20px solid transparent;
                    border-bottom: 20px solid transparent;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                } 
                #hot{
                    text-decoration: none;
                    display: block;
                    float: left;
                    margin-left: 12px; 
                    width: 240px;
                    height: 100%;
                    color: #f33;
                    font-size: 12px;
                    #dot {
                        width: 10px;
                        height: 10px;
                        margin-right: 12px;
                        margin-top: 13.8px;
                        display: block;
                        float: left;
                        background-color: #f33;
                        border-radius: 100%;
                        .ping {
                            border: 1px solid #f33;
                            width: 10px;
                            height: 10px;
                            opacity: 1;
                            background-color: rgba(238,46,36,.2);
                            border-radius: 100%;
                            -webkit-animation-duration: 1.25s;
                            animation-duration: 1.25s;
                            -webkit-animation-name: sonar;
                            animation-name: sonar;
                            -webkit-animation-iteration-count: infinite;
                            animation-iteration-count: infinite;
                            -webkit-animation-timing-function: linear;
                            animation-timing-function: linear;
                            display: block;
                        }
                    }
                    .text{
                        float: left;
                        display: block;
                        width: 200px;
                    }
                }
            }
            .endow{
                padding: 5px 0px;
                margin-top: 1px;
                display: block;
                background-color: #FFFFFF;
                img{
                    float: left;
                }
                .tt-uudai{
                    float: left;
                    width: 253px;
                    margin: 0px 10px;
                    div{
                        color: #999;
                        font-size: 12px;
                    }
                    .tt{
                        font-size: 14px;
                        color: #000000;
                    }
                }
            }
            .endow::after{
                content: '';
                display: block;
                clear: both;
            }
            .endow:hover .tt{
                color: #298AD6;
            }
            .anhQC{
            margin-top: 12px; 
            }
        }
        .clear-float{
            clear: both;
        }
    }

    .box-product{
        .slides-pr{
            background-color: #FFFFFF;
            overflow: hidden;
            display: flex;
            .feature{
                position: relative;
                img{
                    margin-bottom: 14px;
                }
            }
            .product{
                width: 240px;
                .above{
                    position: relative;
                    height: 210px;
                    img{
                        width: 180px;
                        margin: 15px 30px;
                    }
                }
            }
            .below{
                margin-left: 10px;
                .name{
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    font-size: 14px;
                }
                p{
                    display: block;
                    font-size: 12px;
                    margin: 0px;
                }
                .price{
                    padding: 3px 0px 6px 0px;
                    strong{
                        font-size: 14px;
                        color: #E10C00;
                        margin-right: 10px;
                    }
                    .old-price{
                        font-size: 12px;
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
    .nav-tittle{
        margin-top: 20px;
        background-color: #FFFFFF;
        .tittle{
            float: left;
            width: auto;
            font-size: 16px;
            margin-bottom: 1px;
            font-weight: bold;
            padding: 14px 10px;
            color: #333;
            text-transform: uppercase;
        }
        .subs-category{
            float: right;
            a{
                color: rgb(0, 112, 197);
                font-size: 14px;
                padding: 14px 10px;
                display: inline-block;
            }
        }
    }
    .nav-tittle::after{
        content: '';
        display: block;
        clear: both;
    }
}
@keyframes sonar{
    0%{
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -webkit-transform: scale(3);
        transform: scale(3);
        opacity: 0;
    }
}